<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techtalk4geeks.datacalc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <permission
        android:name="permission.TEST"
        android:label="Monitor Data Usage"
        android:protectionLevel="normal" />

    <uses-permission android:name="your.namespace.permission.TEST" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_color"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.techtalk4geeks.datacalc.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name="com.techtalk4geeks.datacalc.YouTubeActivity" >
            android:screenOrientation="portrait"
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            android:label="@string/title_activity_you_tube" >
        </activity>
        <activity
            android:name="com.techtalk4geeks.datacalc.About"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.techtalk4geeks.datacalc.CalcActivity"
            android:label="@string/title_activity_calc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.techtalk4geeks.datacalc.DrawerTest"
            android:label="@string/title_activity_drawer_test" >
        </activity>
    </application>

</manifest>